.App {
    text-align: center;
    background-color: #282c34;
    color: white;
    display: flex;
    width: 100%;
    min-width: 800px;
    height: 100vh;
    box-sizing: border-box;
    border: 1px dotted yellow;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border: 1px dotted orange;
    min-width: 180px;
    line-height: 1.5rem;
}

a {
    text-decoration: none;
    color: white;
}

.menu-active {
    background-color: aquamarine;
    color: crimson;
}

.display {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border: 1px dotted lime;
    flex-grow: 1;
}

.menu li {
    list-style: none;
}

